.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;

    app-sidebar {
        flex: 0 0 260px;
        z-index: 10;
        background: var(--bg-sidebar);
    }

    app-properties {
        flex: 0 0 320px;
        z-index: 10;
        background: var(--bg-sidebar);
    }

    app-canvas {
        flex: 1;
        background: var(--bg-main);
        overflow: hidden;
    }
}